@model IEnumerable<Product>

@{
    ViewData["Title"] = "Shop our " + @ViewData["Category"] + "Cheeses";
}
<h1>Cheese Categories</h1>

@if (Model.Count() == 0)
{
    <h1>No products found</h1>
    return;
}

<h1>@ViewData["Category"]</h1>

<h1>all of these are good...</h1>
<section class="row card-group">
    <div class="card mb-4">
        <div class="card-body">
            <ul>
                @foreach (var product in Model)
                {
                    <h2>@product.Name</h2>
                    <li>@product.Description</li>
                    <li>@String.Format("{0:C}",product.Price)</li>
                    <li>@product.Size</li>
                    <a class="btn-primary">
                        Add to list
                    </a>
                }
            </ul>
        </div>
    </div>
</section>
